* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #0c2340;
	color: #fff;
	padding: 20px;
}

header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

h1 {
	font-size: 3em;
	margin-top: 20px;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
    color: black;
	justify-content: center;
}

label {
	margin-top: 20px;
}

input[type="email"],
input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: black;
	margin-bottom: 20px;
    background: #E5E4E2;
}

.button {
	background-color: #0c2340;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #1d4272;
}

footer {
	background-color: #f2f2f2;
	padding: 20px;
}

footer .container {
	display: flex;
	flex-direction: column
}